@font-face {
  font-family: "iconfont"; /* Project id 4753736 */
  src: url('../font/iconfont-1759151928759.woff2') format('woff2'),
       url('../font/iconfont-1759151928759.woff') format('woff'),
       url('../font/iconfont-1759151928759.ttf') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-money-rmb:before {
  content: "\e831";
}

.icon-more:before {
  content: "\e83d";
}

.icon-guide:before {
  content: "\e857";
}

.icon-name-card:before {
  content: "\e85c";
}

.icon-pin:before {
  content: "\e864";
}

.icon-response:before {
  content: "\e866";
}

.icon-job:before {
  content: "\e87b";
}

.icon-a-New-outline:before {
  content: "\e88b";
}

.icon-time:before {
  content: "\e837";
}

.icon-business-icon-buyers-club:before {
  content: "\e822";
}

.icon-shidirenzheng:before {
  content: "\e87c";
}

.icon-business-icon-feeds:before {
  content: "\e823";
}

.icon-charts-line:before {
  content: "\e826";
}

.icon-charts-bar:before {
  content: "\e828";
}

.icon-customer-center:before {
  content: "\e82a";
}

.icon-customer:before {
  content: "\e82b";
}

.icon-order:before {
  content: "\e833";
}

.icon-product:before {
  content: "\e834";
}

.icon-product-list:before {
  content: "\e835";
}

.icon-good:before {
  content: "\e83c";
}

.icon-info:before {
  content: "\e83e";
}

.icon-location:before {
  content: "\e83f";
}

.icon-hot-for-ux:before {
  content: "\e840";
}

.icon-search:before {
  content: "\e841";
}

.icon-view:before {
  content: "\e847";
}

.icon-all:before {
  content: "\e84a";
}

.icon-category:before {
  content: "\e84d";
}

.icon-company:before {
  content: "\e84f";
}

.icon-customer-service:before {
  content: "\e851";
}

.icon-email:before {
  content: "\e856";
}

.icon-honor:before {
  content: "\e859";
}

.icon-image-text:before {
  content: "\e85a";
}

.icon-phone-fill:before {
  content: "\e85f";
}

.icon-phone:before {
  content: "\e860";
}

.icon-qr-code:before {
  content: "\e863";
}

.icon-ranking-list:before {
  content: "\e865";
}

.icon-security:before {
  content: "\e869";
}

.icon-store:before {
  content: "\e86b";
}

.icon-vip:before {
  content: "\e873";
}

